doctype html
html
  head
    meta(charset="UTF-8")
    style.
      @import 'https://necolas.github.io/normalize.css/5.0.0/normalize.css';
      @font-face {
        font-family: 'DIn pIqaD';
        src: url('../dist/DIn pIqaD.woff');
      }

      body {
        font-family: 'DIn pIqaD', sans-serif;
        margin: auto;
        font-size: 1.4em;
        max-width: 42em;
        padding: 1em;
      }

      h1 {
        font-size: 3em;
        line-height: .8;
        color: #9E9E9E;
      }

      small {
        color: #84ADDC;
      }

      blockquote {
        font-size: 1.5em;
        margin: 0;
        font-style: normal;
      }
      cite {
        display: block;
        text-align: right;
        font-style: normal;
      }


    title Geometric Shapes Demo

  body

    h1
      | 
      br
      small 

    blockquote            
      cite – 
    
    table
      tr
        th(width="33%") DIn pIqaD
        th(width="33%") Okrand-Transcription
        th(width="33%") English
      tr
        td     
        td qajunpaQHeylIjmo’ batlh DuSuvqang charghwI’ ’It.
        td Because of your apparent audacity the depressed conqueror is willing to fight you.

    h2 Ligatures
    table
      tr
        td 
        td +
        td 
        td #{'='}
        td 
      tr
        td 
        td +
        td 
        td #{'='}
        td 
      tr
        td 
        td +
        td 
        td #{'='}
        td 
        td +
        td 
        td #{'='}
        td 
      tr
        td 
        td +
        td 
        td #{'='}
        td       
      tr
        td 
        td +
        td 
        td #{'='}
        td     
      tr
        td 
        td +
        td 
        td #{'='}
        td  
      tr
        td 
        td +
        td 
        td #{'='}
        td 
        td +
        td 
        td #{'='}
        td 
      tr
        td 
        td +
        td 
        td #{'='}
        td 
      tr
        td 
        td +
        td 
        td #{'='}
        td 